[submodule "lib/ldt-logger"]
	path = lib/ldt-logger
	url = git@github.com:lildtools/ldt-logger.git
[submodule "lib/ldt-compiler"]
	path = lib/ldt-compiler
	url = git@github.com:lildtools/ldt-compiler.git
[submodule "lib/ldt-utils"]
	path = lib/ldt-utils
	url = git@github.com:lildtools/ldt-utils.git
