[submodule "ldt-compiler"]
	path = lib/ldt-compiler
	url = git@github.com:lildworks/ldt-compiler.git
[submodule "ldt-docker"]
	path = lib/ldt-docker
	url = git@github.com:lildworks/ldt-docker.git
[submodule "ldt-docker-compose"]
	path = lib/ldt-docker-compose
	url = git@github.com:lildworks/ldt-docker-compose.git
[submodule "ldt-logger"]
	path = lib/ldt-logger
	url = git@github.com:lildworks/ldt-logger.git
[submodule "ldt-utils"]
	path = lib/ldt-utils
	url = git@github.com:lildworks/ldt-utils.git
[submodule "ldt-wrapper"]
	path = projects/ldt-wrapper
	url = git@github.com:lildworks/ldt-wrapper.git
[submodule "ldt-www"]
	path = projects/ldt-www
	url = git@github.com:lildworks/ldt-www.git
