# Changelog

All notable changes to this project will be documented in this file. See [conventional-commits](https://www.conventionalcommits.org/en/v1.0.0/) for commit guidelines.
{{#tags}}

## [{{name}}]({{repositoryUrl}}/-/tags/{{name}}) ({{tagDate .}})
{{#commits}}

- {{{message}}} ([{{hash}}]({{repositoryUrl}}/-/commit/{{hashFull}}))
{{/commits}}
{{/tags}}